@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');

$body-bg: #f9f9f9;
$text-font-family: Roboto, sans-serif;
$text-color: 68 68 68;
$pirce-color: 60 7 255;
$blue-color: #3c07ff;

* {
    transition: 0.1s;
}

body {
    background-color: $body-bg;
}

.btn {
    transition: 0s;
}

.navbar {
    // font-family: $text-font-family;
    font-family: Sora;
    background-color: $body-bg;
    font-weight: bold;
    color: ($text-color);
    // background-color: lightcoral;
    padding: 1.4rem 3rem;
    // align-items: center;

    // .nav-icons {
    //     width: 75px;
    //     align-items: center;
    //     justify-content: space-between;

    //     i {
    //         color: #444;
    //         font-size: 22px;
    //     }
    // }

    .logo {
        height: 40px;
    }

    &-toggler {
        border: 0;

        &:active {
            box-shadow: 0 0 0 $blue-color;
        }

    }

    @media screen and (max-width: 575px) {
        padding: 0.5rem 0.5rem;

        .logo {
            height: 30px;
        }
    }

    #cart-icon {
        // justify-content: center;
        display: flex;
        align-items: center;

        i {
            font-size: 1.4rem;
            margin-right: 0.2rem;
        }
    }

    .cart-icon-container {
        color: rgb($text-color);
    }
}

.searchBtn {
    color: $blue-color;
    border-color: $blue-color;
    // border: none;
    border-radius: 8px;
    border-color: $blue-color;

    &:active {
        background: $blue-color;
        border-color: $blue-color;
    }

    &:hover {
        background-color: $blue-color;
        color: #fff;
    }
}

.search-bar {
    // border: none;
    border-radius: 0;
    border-bottom: 2px solid $blue-color;
}

.cover-images {
    overflow: hidden;

    .image2 {
        display: none;
    }

    .cover-text {
        font-family: 'Sora', sans-serif;
        top: 5rem;
        left: 4rem;
        width: 100%;
        // margin: 0 5rem;
        // margin-top: 15rem;

        h1 {
            display: inline-block;
            color: #fff;
            font-weight: 700;
            font-size: 3rem;
            margin: 0;
        }

        p {
            color: #fff;
            font-size: 0.8rem;
        }

        .btn {
            color: #fff;
            border-color: $blue-color;
            font-size: 0.8rem;
            border-radius: 20px;

            // &:active{
            //     background-color: $blue-color;
            // }
        }
    }

    @media only screen and (max-width: 575px) {
        .image1 {
            display: none;
        }

        .image2 {
            display: inline;
        }

        .cover-text {
            text-align: center;
            left: auto;
            top: 3rem;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 0.5rem;
            }

            .btn {
                font-size: 0.7rem;
            }
        }
    }

    @media screen and (min-width: 992px) {
        .cover-text {
            // text-align: center;
            top: 6rem;
            left: 6rem;

            h1 {
                font-size: 4rem;
                top: 1rem;
            }

            p {
                font-size: 1rem;
            }

            .btn {
                font-size: 1rem;
            }
        }
    }

    @media screen and (min-width: 1800px) {
        .cover-text {
            // text-align: center;
            top: 15rem;

            h1 {
                font-size: 6rem;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }
}

.dropdown {
    .btn {
        font-weight: 600;
        color: $blue-color;
        background-color: inherit;
        border-color: $blue-color;
        border-radius: 50px;

        &:active {
            background-color: $blue-color;
            color: #fff;
        }
    }

    ul li a {
        font-weight: 600;
        color: $text-color;
    }
}

.card {
    border: none;
    text-align: center;
    font-family: $text-font-family;
    color: rgb($text-color);

    &-img-top {
        margin: 10px 0;
    }

    &-title {
        font-size: 1.1rem;
        letter-spacing: 2px;
        font-weight: bold;
        margin-bottom: 4px;
    }

    &-text {
        font-size: 0.8rem;
        margin-bottom: 4px;
        font-weight: 500;
    }

    #addBtn {
        margin-top: 5px;
        font-size: 0.8rem;
        // width: 75%;
        border-radius: 20px;
        background-color: $blue-color;

        &:active {
            color: $blue-color;
            background-color: #fff;
        }
    }

    .rating {
        font-size: 0.7rem;
        margin-bottom: 4px;

        .bi-star-fill {
            color: #f6a429;
        }
    }

    .price {
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 4px;
        letter-spacing: 1px;
        // color: rgb($pirce-color);
    }
}

.footer {
    color: rgb($text-color);
    text-align: center;

    hr {
        margin-bottom: 0;
    }

    .footer-icons {
        margin: 0.8rem 0;

        i {
            font-size: 1.2rem;
            margin-right: 2rem;
        }
    }



    p {
        font-weight: 400;
        font-size: 0.9rem;
    }

    @media screen and (max-width: 575px) {
        .footer-icons {
            margin: 0.5rem 0;

            i {
                font-size: 1.1rem;
                margin-right: 1rem;

            }
        }
    }
}


// cart.html
.cart-container {
    h1 {
        font-family: Sora;
        font-weight: 600;
        margin-bottom: 15px;
        // text-align: center;

        i {
            color: $blue-color;
        }
    }

    #cart-container-inner {

        .price {
            font-weight: 600;
            // font-size: 0.8rem;
        }

        .btn {
            background-color: #fff;
            color: $blue-color;
            border-color: $blue-color;

            &:active {
                background-color: $blue-color;
                color: #fff;
                border-color: $blue-color;
            }
        }

        .btn-outline-primary {
            // color: rgb($text-color);
            background-color: #fff;

            &:active {
                // color: rgb($text-color);
                color: $blue-color;
                background-color: #fff;
                border-color: $blue-color;
            }
        }
    }

    @media screen and (max-width: 575px) {
        // h1 {
        //     color: red;
        //     // text-align: left;
        // }
    }

    @media screen and (max-width: 768px) {
        h1 {
            // color: blue;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

.total {
    font-family: Sora;
    font-family: Sora;

    .price-container {
        // padding-right: 1.2rem;

        .price {
            margin: 0;
        }
    }

    .btn {
        color: $blue-color;
        border-color: $blue-color;

        &:hover {
            background-color: $body-bg;
            border-color: $blue-color;
        }

        &:active {
            background-color: $blue-color;
            color: #fff;
        }


    }

    .checkout-container {
        padding: 0 1.5rem;
    }
}

// checkout.html
.checkout-container {
    font-family: Sora;

    h1 {
        // font-family: Sora, sans-serif;
        margin-bottom: 2rem;
        font-weight: 600;
    }

    i {
        color: $blue-color;
    }

    form {
        label {
            font-weight: 500;
        }

        .btn {
            color: $blue-color;
            background-color: $body-bg;
            border-color: $blue-color;

            &:hover {
                background-color: $body-bg;
                color: $blue-color;
                border-color: $blue-color;
            }

            &:active {
                background-color: $blue-color;
                color: #fff;
            }
        }

        .form-check {
            input {

                &:checked {
                    background-color: $blue-color;
                    border-color: $blue-color;
                }
            }
        }

        .summary-container {
            font-weight: 600;

            div {
                color: $blue-color;
            }
        }
    }

    @media screen and (max-width: 768px) {
        h1 {
            // color: blue;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

.success {
    i{
        font-size: 3rem;
        color: $blue-color;
    }
}