@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap");
* {
  transition: 0.1s;
}

body {
  background-color: #f9f9f9;
}

.btn {
  transition: 0s;
}

.navbar {
  font-family: Sora;
  background-color: #f9f9f9;
  font-weight: bold;
  color: 68 68 68;
  padding: 1.4rem 3rem;
}
.navbar .logo {
  height: 40px;
}
.navbar-toggler {
  border: 0;
}
.navbar-toggler:active {
  box-shadow: 0 0 0 #3c07ff;
}
@media screen and (max-width: 575px) {
  .navbar {
    padding: 0.5rem 0.5rem;
  }
  .navbar .logo {
    height: 30px;
  }
}
.navbar #cart-icon {
  display: flex;
  align-items: center;
}
.navbar #cart-icon i {
  font-size: 1.5rem;
  margin-right: 0.2rem;
}
.navbar .cart-icon-container {
  color: rgb(68, 68, 68);
}

.searchBtn {
  color: #3c07ff;
  border-color: #3c07ff;
  border-radius: 8px;
  border-color: #3c07ff;
}
.searchBtn:hover {
  background-color: #3c07ff;
  color: #fff;
}
.searchBtn:active {
  background: #3c07ff;
  border-color: #3c07ff;
}

#search-result-counter {
  font-family: Sora;
  color: rgb(68, 68, 68);
}
#search-result-counter h1 {
  font-weight: 700;
}

.search-bar {
  border-radius: 0;
  border-bottom: 2px solid #3c07ff;
}

.cover-images {
  overflow: hidden;
}
.cover-images .image2 {
  display: none;
}
.cover-images .cover-text {
  font-family: "Sora", sans-serif;
  top: 5rem;
  left: 4rem;
  width: 100%;
}
.cover-images .cover-text h1 {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}
.cover-images .cover-text p {
  color: #fff;
  font-size: 0.8rem;
}
.cover-images .cover-text .btn {
  color: #fff;
  border-color: #3c07ff;
  font-size: 0.8rem;
  border-radius: 20px;
}
@media only screen and (max-width: 575px) {
  .cover-images .image1 {
    display: none;
  }
  .cover-images .image2 {
    display: inline;
  }
  .cover-images .cover-text {
    text-align: center;
    left: auto;
    top: 3rem;
  }
  .cover-images .cover-text h1 {
    font-size: 2rem;
  }
  .cover-images .cover-text p {
    font-size: 0.5rem;
  }
  .cover-images .cover-text .btn {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 992px) {
  .cover-images .cover-text {
    top: 6rem;
    left: 6rem;
  }
  .cover-images .cover-text h1 {
    font-size: 4rem;
    top: 1rem;
  }
  .cover-images .cover-text p {
    font-size: 1rem;
  }
  .cover-images .cover-text .btn {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1800px) {
  .cover-images .cover-text {
    top: 15rem;
  }
  .cover-images .cover-text h1 {
    font-size: 6rem;
  }
  .cover-images .cover-text p {
    font-size: 1.5rem;
  }
}

.dropdown .btn {
  font-weight: 600;
  color: #3c07ff;
  background-color: inherit;
  border-color: #3c07ff;
  border-radius: 50px;
}
.dropdown .btn:active {
  background-color: #3c07ff;
  color: #fff;
}
.dropdown ul li a {
  font-weight: 600;
  color: 68 68 68;
}

.card {
  border: none;
  text-align: center;
  font-family: Roboto, sans-serif;
  color: rgb(68, 68, 68);
}
.card-img-top {
  margin: 10px 0;
}
.card-title {
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 4px;
}
.card-text {
  font-size: 0.8rem;
  margin-bottom: 4px;
  font-weight: 500;
}
.card #addBtn,
.card #editBtn {
  font-family: Sora;
  margin-top: 5px;
  font-size: 0.8rem;
  border-radius: 20px;
  border-color: #3c07ff;
  background-color: #3c07ff;
}
.card #addBtn:active,
.card #editBtn:active {
  color: #3c07ff;
  background-color: #fff;
}
.card #removeBtn {
  font-family: Sora;
  margin-top: 5px;
  font-size: 0.8rem;
  border-radius: 20px;
  background-color: red;
  border-color: red;
}
.card #removeBtn:active {
  color: red;
  background-color: #fff;
}
.card .rating {
  font-size: 0.7rem;
  margin-bottom: 4px;
}
.card .rating .bi-star-fill {
  color: #f6a429;
}
.card .price {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 4px;
  letter-spacing: 1px;
}
.card-badge {
  color: red;
}

.footer {
  color: rgb(68, 68, 68);
  text-align: center;
}
.footer hr {
  margin-bottom: 0;
}
.footer .footer-icons {
  margin: 0.8rem 0;
}
.footer .footer-icons i {
  font-size: 1.2rem;
  margin-right: 2rem;
}
.footer p {
  font-weight: 400;
  font-size: 0.9rem;
}
@media screen and (max-width: 575px) {
  .footer .footer-icons {
    margin: 0.5rem 0;
  }
  .footer .footer-icons i {
    font-size: 1.1rem;
    margin-right: 1rem;
  }
}

.cart-container h1 {
  font-family: Sora;
  font-weight: 600;
  margin-bottom: 15px;
}
.cart-container h1 i {
  color: #3c07ff;
}
.cart-container #cart-container-inner .price {
  font-weight: 600;
}
.cart-container #cart-container-inner .btn {
  background-color: #fff;
  color: #3c07ff;
  border-color: #3c07ff;
}
.cart-container #cart-container-inner .btn:active {
  background-color: #3c07ff;
  color: #fff;
  border-color: #3c07ff;
}
.cart-container #cart-container-inner .btn-outline-primary {
  background-color: #fff;
}
.cart-container #cart-container-inner .btn-outline-primary:active {
  color: #3c07ff;
  background-color: #fff;
  border-color: #3c07ff;
}
.cart-container #cart-container-inner .red-bg {
  background-color: red;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .cart-container h1 {
    text-align: center;
    margin-bottom: 10px;
  }
}

.badge {
  background-color: #3c07ff;
  color: #fff;
  font-size: 0.6rem;
  margin-bottom: 1.3rem;
  margin-left: -0.6rem;
  z-index: 2;
}

.empty-msg i {
  color: #3c07ff;
}
.empty-msg h2 .btn {
  font-family: Sora;
  background-color: #3c07ff;
  border-color: #3c07ff;
}
.empty-msg h2 .btn:hover {
  background-color: #3c07ff;
  border-color: #3c07ff;
  color: #fff;
}
.empty-msg h2 .btn:active {
  background-color: #fff;
  color: #3c07ff;
}

.total {
  font-family: Sora;
  font-family: Sora;
}
.total .price-container .price {
  margin: 0;
}
.total .btn {
  color: #3c07ff;
  border-color: #3c07ff;
}
.total .btn:hover {
  background-color: #f9f9f9;
  border-color: #3c07ff;
}
.total .btn:active {
  background-color: #3c07ff;
  color: #fff;
}
.total .checkout-container {
  padding: 0 1.5rem;
}

.checkout-container {
  font-family: Sora;
}
.checkout-container h1 {
  margin-bottom: 2rem;
  font-weight: 600;
}
.checkout-container i {
  color: #3c07ff;
}
.checkout-container form label {
  font-weight: 500;
}
.checkout-container form .btn {
  color: #3c07ff;
  background-color: #f9f9f9;
  border-color: #3c07ff;
}
.checkout-container form .btn:hover {
  background-color: #f9f9f9;
  color: #3c07ff;
  border-color: #3c07ff;
}
.checkout-container form .btn:active {
  background-color: #3c07ff;
  color: #fff;
}
.checkout-container form .form-check input:checked {
  background-color: #3c07ff;
  border-color: #3c07ff;
}
.checkout-container form .summary-container {
  font-weight: 600;
}
.checkout-container form .summary-container div {
  color: #3c07ff;
}
@media screen and (max-width: 768px) {
  .checkout-container h1 {
    text-align: center;
    margin-bottom: 10px;
  }
}

.success i {
  font-size: 3rem;
  color: #3c07ff;
}
.success .btn {
  background-color: #3c07ff;
  border-color: #3c07ff;
  font-family: Sora;
}
.success .btn:hover {
  background-color: #3c07ff;
  border-color: #3c07ff;
}
.success .btn:active {
  background-color: #fff;
  color: #3c07ff;
}

.about {
  font-family: Sora;
}

#alert {
  color: black;
  font-family: Sora;
}/*# sourceMappingURL=styles.css.map */